body {
  background: url('http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/dark_embroidery.png');
  color: white;
}
.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}